li {
    text-align: left;
}

ul {
    list-style-type: none;
}

.all-album{
    display: flex;
    width: 1800px;
}

.album {
    display: block;
    background-color: black;
    border-radius: 5px;
    border-width: 1em;
    border-color: #1DB954;
    margin: 5px;
}

.info-album {
    display: flex;
}

.album-img {
  width: 200px;
  height: 200px;  
}

.name-album {
    text-align: center;
}