:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #242424!important;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  background-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

li {
    text-align: left;
}

ul {
    list-style-type: none;
}

.all-album{
    display: flex;
    width: 75%;
    color:#ffffff!important;
    flex-wrap: wrap;
    margin-left: 40px;
}

.album {
    display: block;
    background-color: #1a7cd7;
    color:#ffffff!important;
    border-radius: 20px;
    border-width: 1em;
    border: 5px solid #1a7cd7;
    margin: 10px;
    width: 45%;
}

.info-album {
    display: flex;
}

.album-img {
    width: 200px;
    height: 200px;
    margin-left: 20px; 
}

.name-album {
    text-align: center;
}

.research-bar {
  display: block;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.center-img {
  display: flex;
  justify-content: center;      
}

.all {
  display: block;
  width: 100%;
}

.border {
  border-radius: 20px;
  border: 0px solid #1a7cd7;
  background-color: black;
  padding: 20px;
}

.similar {
  display: block;
  width: 20%;
  border-radius: 20px;
  border-width: 1em;
  margin-top: 5px;
}

.result-request {
  display: flex;
  margin-top: 20px;
}

.similar-border {
  display: block;
  border: 0px solid #8F754F;
  border-radius: 20px;
  background-color: black;
  padding: 20px;
  color:#ffffff;
}